body {
	background-color: #333;
	background-image:url(../img/fondo2.jpg);
	color: #ccc;
}

h1 {
	font-style: italic;
	font-size: 40px;
}
h1 a {
	text-decoration: none;
	color: #fff;
}
h1 a:hover {
	color: #ccc;
	font-style: italic;	
}
h2 {
	font-style: italic;
	font-weight: bold;
}

#pagewrap {
    padding: 5px;
    width: 95%;
    margin: 0 auto;
}
header {
    height: 180px;
}
#sidebar {
    width: 20%;
    float: left;
    padding: 2%;
    opacity: 0.5;
}
#content {
    width: 65%;
    float: right;
    padding: 5%;
    background-color: #fff;
    color: #000;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 3px 3px 4pc #666;
    -webkit-box-shadow: 3px 3px 4px #666;
    -moz-box-shadow: 3px 3px 4px #666;
}
footer {
    clear: both;
    text-align: right;
    margin-top: 40%;
    color: #fff;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 55%;
	}
	#sidebar {
		width: 30%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
	}
	footer {
		display: none;
	}
	.qr {
		display: none;
	}

}

.qr {
	text-align: center;
	margin-top: 5%;

}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu ul li {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
    width: auto;
}
.menu ul li a {
    background-color: #fff; 
    font-size:30px;
    padding: 5%;
    text-transform:uppercase;
    text-decoration: none;
    color: #333;
    text-indent:5px;
    display: block;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 1%;
    -moz-border-radius: 0px 10px 5px 0px;
	-webkit-border-radius: 0px 10px 5px 0px;
    border-radius: 0px 10px 5px 0px;
    width: auto;
    border-left: 5px solid #333;
}
.menu ul li a:hover {
	background-color: #ccc;
	padding: 5%;
    font-size:30px;
    text-transform:uppercase;
    text-decoration: none;
    color: #000;
    text-indent:5px;
    display: block;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 1%;
    width: auto;
    border-left: 5px solid #333;
}

.pdata ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pdata ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#gallery img {
	margin: 5%;
	border: 5px solid #333;
	clear: both;
}